PORT=3333
NODE_ENV=development

# 
DATABASE_URL=

# SAML Configuration
SAML_ENTRY_POINT=https://idp.example.com/saml/login
SAML_ISSUER=bibliotecario-als
SAML_CALLBACK_URL=http://localhost:3333/auth/saml/callback
SAML_CERT=
SAML_PRIVATE_KEY=
